# Ignore build and install folders
build/
install/
log/
logs/
venv/

.devenv/
.colcon_workspace
.vscode/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore other common files
*.swp
*.swo
*.swn
*~
